body {
  margin: 0;
  padding: 0;
}

.head {
  margin-top: 20%;
}

.head,
.main {
  width: 500px;
  margin: 0 auto;
}

.main {
  display: flex;
  gap: 70px;
}

.scores {
  width: 50%;
}

.refresh {
  display: flex;
  gap: 10px;
  align-items: center;
}

.recent-scores {
  font-size: 23px;
}

.refresh-btn {
  height: max-content;
}

.single-score {
  list-style: none;
}

.add-scores {
  width: 50%;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 20px;
}

input {
  height: 26px;
  width: 100%;
}
