body {
  margin: 0;
  padding: 0;
}

.head, .main {
  width: 500px;
  margin: 0 auto;
}

.main {
  display: flex;
  gap: 20px;
}

.refresh {
  display: flex;
  gap: 10px;
}

.single-score {
  list-style: none;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 20px;
}

input {
  height: 26px;
}
