@import url('https://fonts.googleapis.com/css?family=Lobster');

body {
  margin: 0;
  padding: 0;
  background: #120212;
  font-family: 'Lobster', sans-serif;
}

.head {
  margin-top: 15% !important;
  color: #fff;
}

.heading {
  font-size: 45px;
}

.head,
.main {
  width: 500px;
  margin: 0 auto;
  color: #fff;
}

.main {
  display: flex;
  gap: 70px;
}

.scores {
  width: 50%;
}

.refresh {
  display: flex;
  gap: 10px;
  align-items: center;
}

.recent-scores {
  font-size: 23px;
}

.refresh-btn {
  height: max-content;
}

.main-scores {
  border: 2px solid #fff;
  border-radius: 3px;
  width: 100%;
  padding: 10px;
  max-height: 200px;
  overflow-y: auto;
  color: #fff;
  overflow-x: hidden;
}

.score-list {
  padding: 0;
}

.single-score {
  list-style: none;
  font-size: 20px;
  padding: 8px;
  width: 90%;
}

.add-scores {
  width: 50%;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 20px;
}

input {
  height: 31px;
  width: 100%;
  border-radius: 3px;
  padding: 5px;
}

.submit {
  border: none;
  padding: 8px 15px;
  border-radius: 3px;
  color: #120212;
}

.submit:hover {
  border: 2px solid #fff;
  background: #120212;
  color: #fff;
}
